.h5WelcomeMeal{
    margin-top:20px;
    margin-bottom:0;
    color:indianred;
}
/******************************************* NAVBAR *****************************************/


.dropdown > .active > a{
    background-color: purple;
}
.activeInNavBar > a {
    color:cornflowerblue;
}
.dropdown-menu > li > a{
    color:cornflowerblue;
    height:40px;
    vertical-align:middle;
}
.dropdown-menu > li{
    /*vertical-align:middle; //ne marche pas.. meme en faisant sur le ul parent list-style: none;*/
}
.dropdown-menu > .activeInNavBar > a {
    color:black;
    /* background-color: cornflowerblue;*/
}




/*******************************************/



.myBorder{
    border: 5px solid red;
    border-radius:10px;
}
#resultExpense {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    color:#5bc0de;
}
