


/**********************************************************************************************/
/*******************************************  recipes (PLANNING)  ****************************************/
/********************************************************************************************/

.divRecipesType{
    margin: 2vw;
}
.btnRecipeType{
    margin-right:2vw;
    width: 150px;
}

.artMySelection{
    float: left;
    margin-left:2vw; /* le % faisant grossir la largueur lors de scroll -> fixed*/
    width:20vw;

}
.artFilters{
    margin-bottom:1vw;
    margin-left:25vw;
    width:70vw;

}
.filterMyLists{
    display:inline-block;
    width:30%;
    vertical-align: top;

}
.filterCategories{
    display:inline-block;
    width:25%;
    vertical-align: top;
}
.filterOrignins{
    display:inline-block;
    width:25%;
    vertical-align: top;
}


.artRecipes{
    margin-left:2vw;

}