


<section id="sectionCourses"  class="section" ng-controller="RecipeCtrl">

    <div><h2>PLAT OLD </h2></div>




    <article id="filterRecipe" scroll ng-class="{navRecipeFixed:boolNavFixed}">

        <div  class="panel panel-default" style=" overflow: hidden;" >

            <div class="panel-heading">
                <h3 class="panel-title">Ma Selection</h3>
            </div>



            <div class="panel-body main-panel">

                <div>Contient : viande</div>
                <div>Contient : curry</div>
                <br>
                <div>Categorie : four</div>
                <div>Categorie : complet</div>
                <div>Categorie : viande</div>
                <br>
                <div>Origine : thai</div>
                <div>Origine : italien</div>



            </div>
        </div>

        <div  class="panel panel-default" style=" overflow: hidden;" >

            <div class="panel-heading">
                <h3 class="panel-title">Affiner la recherche</h3>
            </div>



            <div class="panel-body main-panel">

                <div> checkbox : mes plats perso</div>
                <div> checkbox : mes recettes preferees</div>
                <div> checkbox : ma selection planning</div>
                <br>
                <div>Contient : (input  : ...) +</div>
                <br>
                <div>Type :</div>
                <div> - Viande +</div>
                <div> - Four +</div>
                <div> - Complet +</div>
                <div> - ... +</div>
                <br>
                <div>Origine :</div>
                <div> - Thai +</div>
                <div> - Italien +</div>
                <div> - Marocain +</div>
                <div> - ... +</div>
            </div>
        </div>
    </article>



    <article id="listRecipe" >
        <div  class="panel panel-default" style=" overflow: hidden;" >

            <div class="panel-heading">
                <h3 class="panel-title">LES  PLATS</h3>
            </div>



            <div class="panel-body main-panel">


                <div style="margin-left:5%; display:block; height:50px;">
                    <a href="#/recipeCreation/{{recipeType}}"  class="btn btn-warning"> {{displayCreationRecipeType()}}</a>
                </div>




                <div class="divRecipes" ng-repeat="recipe in recipes | orderBy:'name'"   ng-class="{recipeWithDescription: recipe.descriptionOpen, recipeWithNoDescr:!recipe.descriptionOpen}">


                    <div ng-show="!recipe.descriptionOpen" ng-click="toggleDescOpen(recipe)">

                        <div class="pixRecipeNoDescription" style="background-image:url('../images/course/{{recipe.pixName}}'),url('../images/no-image.png') ;"> </div>
                        <div class="titleAndSoNoDescription">
                            <div class="title"> {{recipe.name}}</div>

                            <span  ng-click="fuck(); $event.stopPropagation();" title=""   class="glyphicon glyphicon-heart heart"></span>
                            &nbsp&nbsp
                            <span ng-click="fuck(); $event.stopPropagation();" title="" class="glyphicon glyphicon-th-list thList"></span>

                        </div>
                    </div>


                    <div class="recipeWithDescrip" ng-show="recipe.descriptionOpen" ng-click="toggleDescOpen(recipe)"  >
                        <div class="titleOfDescrip" >{{recipe.name}}  ({{recipe.nbPerson}} pers.)
                            &nbsp&nbsp <span  ng-click="fuck(); $event.stopPropagation();" title=""   class="glyphicon glyphicon-heart heart"></span>
                            &nbsp&nbsp <span ng-click="fuck(); $event.stopPropagation();" title="" class="glyphicon glyphicon-th-list thList"></span>
                        </div>

                        <div class="divTopRecipe">
                            <div class="pixRecipeWithDescrip" style="background-image:url('../images/course/{{recipe.pixName}}'),url('../images/no-image.png') ;"> </div>

                            <div class="ingredientRecipe">
                                <div class="subTitleOfDescrip"> Ingrédients </div>
                                <ul ng-repeat="ingr in recipe.ingredients">
                                    <li > <span>{{ingr.qty}}</span>{{ingr.unit}}<span></span> <span>{{ingr.food}}<span> </li>
                                </ul>
                            </div>
                        </div>

                        <div class="preparationRecipe">
                            <div class="subTitleOfDescrip"> Préparation</div>
                            <div> {{recipe.description}} </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </article>

</section >