<div ng-controller="WelcomeMealCtrl">

    <h2>WELCOME to the MEAL application ! :)</h2>


<!--
    <br>
    THE ID : {{myId}}
    <br>
    <button ng-click="incrementId()" type="button" class="btn btn-success">INCREMENT</button>

    <br>
-->
    <span class="checkbox checkbox-danger" >
        <input type="checkbox"  ng-model="showImprovement"  id="idShowImprovement" ng-change="toggleImpr()">
        <label for="idShowImprovement" >
            VISUALISER AMELIORATIONS !
        </label>
    </span>

    <br>



        <div ng-show="showImprovement" class="row" style="font-size: 15px; color:#d9534f" >

            <div class="col-md-8">

                <div  class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title" style="color:#d9534f">Ameliorations/Bugs</h3>
                    </div>


                    <div class="panel-body main-panel" style="color:#d9534f">
                        <ul>

                            <li>tout en francais..</li>
                            <li >Git : faire du menage (enlever TP1...)</li>

                            <br>

                            <li>PAGE listShop où suppression des ingredient qu'on a ds le cadie</li>
                            <li>INTERFACE PERSO pour trier recette a ajouter base commune...</li>
                            <br>
                            <br>

                            <li style="font-size: 20px;color:cornflowerblue">
                                Faire un mode debug (comme improvement)où ca affiche toutes les sructures etc... .
                                Essayer de mettre la checkbox "debug" dans bar de nav ou endroit plus accessible
                            </li>

                            <li style="font-size: 20px;color:darkorange">
                                DEBUGER le pb ds calcul depenses (ca plante quand on augmente le nbPers)
                                -> afficher $log.debug().. et augmenter ensuite nbPers..
                            </li>

                            <li style="font-size: 20px;color:darkorange">
                                Mettre a jour les service (comme si on sauvegardait ds la base...)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    <div ng-show="showImprovement" class="row" style="font-size: 15px; color:#d9534f" >

        <div class="col-md-8">

            <div  class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title" >Done</h3>
                </div>


                <div class="panel-body main-panel" >

                    <ul>
                        <li >Faire un file "note" avec tous les details important (ex pour la nav deroulante avec fichier bootstrap!</li>
                        <li>NAV avec liste deroulante (RECETTES -> ENTREES/PLATS/DESSERTS)</li>
                        <li>ajout de BREAKFAST & SNACK avec entree/plat/desserts</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>