.h5WelcomeMeal{
    margin-top:20px;
    margin-bottom:0;
    color:indianred;
}
.bodyEasyMeals{
    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bodyRecipe{

    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/recipe_vegetables.jpg) repeat ; /* planning-recipe_meals OR recipe_fruits.jpeg  //bottom center scroll */
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bodyPlanning{

    width: 100%;
    height: 100%;
    /*font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/expense-planning_Red-Raspberry.jpg) ; /* expense-planning_Red-Raspberry   OR  planning-recipe_meals.jpg*/
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.bodyExpense{

    width: 100%;
    height: 100%;
    /*font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/expense_noteSober.jpg) no-repeat ; /*expense_note OR  expense-planning_Red-Raspberry */
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.bodyAlcohol{

    width: 100%;
    /*height: 100%;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background: url(../img/alcohol_glass-wineGood.jpg) no-repeat ; /* alcohol_glassWineOnWood //center scroll */
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


::selection { /* surlign / effet souris  */
    color: white;
    background: darkslategrey;
}
select::selection,option::selection { /* ne fonctionne pas  */
    color: white;
    background: darkslategrey;
}
/*ne fonctionne pas.. est ce que c pas assez precis
.bodyPlanning::selection{
    background: green; /* REMPLACER PAR LA COULEUR DÉSIRÉE*
}
*/



/******************************************* TABLES ****************************************/

.myTh{
    color:darkslategrey;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700; /* epaisseur txt */
    letter-spacing: 1px;
    font-size: 20px;
}



/**********************************************************************************************/
/******************************************* PLANNING ****************************************/
/********************************************************************************************/

/*
.itemToDragPlanning_OldStyle {
    padding: 7px;
    border-radius:3px;
    margin:5px;

    border:1px solid #5bc0de;
    color: #5bc0de;
}*/
.itemToDragPlanning {
    padding: 6px;
    border-radius:3px;
    margin:2px 0;

    border:1px solid lightgrey;
    color: cornflowerblue;
}
.itemRecipesPlanning{
    margin:4px;
}

.nbPers{
    color:cornflowerblue;
    color: lightgrey;
    border:1px solid lightgrey;
    border-radius:3px;
    padding:3px;
}
.inputNbPers{
    color:cornflowerblue;
    width:40px;
    border:none;
    border-radius:3px;
    text-align: center;
    background-color:#f9f9f9;
}
.inputGlobalNbPers{

    width:40px;
    color:cornflowerblue;

    border:1px solid lightgrey;
    border-radius:3px;
    padding:3px;
    text-align: center;
}

.contourTxt{
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}


/**********************************************************************************************/
/******************************************* EXPENSES ****************************************/
/********************************************************************************************/



.myBorder{
    border: 5px solid red;
    border-radius:10px;
}
#resultExpense {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700; /* epaisseur txt */
    letter-spacing: 1px;
    font-size: 20px;
    color:#5cb85c; /*success*/
}


.fieldExpense {
    /*
    border:none;
    background-color:#dff0d8
    */
    padding: 7px;
    width:60px;
    border-radius:3px;
    text-align: center;

    border:1px solid lightgrey;
    color: #5cb85c;
}

select.fieldExpense {
    width:auto;
}
textarea.fieldExpense {
    width:auto;
    text-align: left;
}
.fieldExpense:focus {
    outline: 0; /*2px solid #d9534f;*/
    border: 2px solid #95d095;
}

.myThExpense {
    color: darkslategrey;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600; /* epaisseur txt */
    letter-spacing: 1px;
}

/**********************************************************************************************/
/******************************************* ALCOHOL ****************************************/
/********************************************************************************************/


.fieldAlcohol {
    /*
    border:none;
    background-color:#dff0d8
    */
    ont-weight: 700; /* epaisseur txt */
    font-size: 20px;
    padding: 7px;
    width:80px;
    border-radius:3px;
    text-align: center;

    border:1px solid lightgrey;
    color: #d9534f;

}
.fieldAlcohol:focus {
    outline: 0; /*2px solid #d9534f;*/
    border: 2px solid #e89996;
}


.itemToDragAlcohol{
    padding: 6px;
    margin:4px; /* seul difference avec itemDroppedAlcohol */

    border-radius:3px;
    border:1px solid lightgrey;
    color: #d9534f;
}

.itemDroppedAlcohol {

    width:350px;
    padding: 6px;
    margin:5px 0; /* seul difference avec itemToDragAlcohol */
    margin-left:50px;
    border-radius:3px;
    border:1px solid lightgrey;
    color: #d9534f;

}
/* ne fonctionne pas
.bodyAlcohol > input:focus {
    outline: 0;
    border:2px solid #e89996;
}
*/






/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/***********************************         RECIPE OLD            ***********************************************************************/
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/


/*** FILTER RECIPE #LEFT FIXED */
.navRecipeFixed {
    position: fixed;
    top:50px;
}
#filterRecipe{
    float: left;
    /*margin-left:1vw;*/
    width:22vw;
}

#filterRecipe ul{
    list-style-type: none;
    padding-left:0;
}

#filterRecipe ul li{
    /*border:3px solid chocolate;*/  /*bleu clair*/   /* blueviolet*/
    border-radius: 15px ;
    margin-top:10px;
    background-image:url("../images/blackSlateSlab.jpg");

    border:1px solid orange;
    text-align: center;
    /*padding : 6px 12px 6px 12px;*/
    padding:0.4vh 1vh 0.4vh 1vh;
    width : 15vw;
    min-width:60px;
    overflow:hidden; /*permet de cacher le texte qui dépasse*/
}

#filterRecipe ul li a{
    color: white;
    text-shadow:
            -0.5px -0.5px 0 #000,
            0.5px -0.5px 0 #000,
            -0.5px 0.5px 0 #000,
            0.5px 0.5px 0 #000;
    font-family:Comic Sans MS;
}



/*** LIST RECIPE #RIGHT  *********************************************************************************************/

#listRecipe{
    margin-left:32%;
    width:62%;
}

/** div recipe autant withDescr or noDescr.**/
.divRecipes{
    border-radius: 5px;
    margin: 20px 5%;
}
.divRecipes:hover{
    background-color: lightgrey;
}

/*
.recipeWithDescription{
    color:red;
}
.recipeWithNoDescr{
    color:cornflowerblue;
}*/


/*********************** NO DESCRIPTION **************************/


.pixRecipeNoDescription{
    width:180px;
    height:120px;
    background-repeat:no-repeat;
    background-size:cover;
    /*
    background-position:top left;
    background-image:url("../images/lasagne.jpg");
    */
    display: inline-block;
    border-radius:3px;

}

.titleAndSoNoDescription{

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    display: inline-block;/*block sera a droite de la pix*/
    margin-left:5%;
    vertical-align:top;
    font-size: 22px;
}
.titleAndSoNoDescription > .title{
    margin-top:25px;
    margin-bottom:25px;
    font-size: 20px;/* 22*/
    color:darkslategrey; /*darkorange*/

}







/*********************** WITH DESCRIPTION *************************************/



.recipeWithDescrip{
    background-image:url('../images/blackSlateSlab.jpg');
    color:white;
    border-radius:3px;
    padding:10px;
    padding-bottom:20px;
}








.divTopRecipe{
    /*margin-top:15px;*/
    overflow:hidden;
    margin-bottom:10px;
}

.pixRecipeWithDescrip{
    width:44%;/*240px;*/
    height:160px; /* a modifier dynamiquement (avec javascript en recuperant la largeur et en faisant 2/3)*/
    background-repeat:no-repeat;
    background-size:cover; /*100% not enought*/
    background-position:top left;
    /*background-image:url("../images/burger2.jpg");*/
    display: inline-block;
    margin-left:2%;
    border-radius:3px;

}
.ingredientRecipe{
    display: inline-block;
    width:50%;
    margin-left:2%;
    vertical-align:top;
    /*font-style:bold;
    font-size:large;*/
}
.preparationRecipe{
    margin-left:2%;
    /*font-style:bold;
    font-size:large;*/
}

.titleOfDescrip{
    margin: 5px 0 20px 2%;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.subTitleOfDescrip{
    margin-bottom:10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}







/***************************************   OTHERS *******************************************/


/** .titleAndSoNoDescription > **/
.heart{
    color: #ff4d4d ;
}
.thList{
    color: cornflowerblue;
}
.heart:hover{
    color:red;
    transform: scale(1.5);
}
.thList:hover{
    color:#1b61e4;
    transform: scale(1.5);
}
.heart[title]:hover:after,
.thList[title]:hover:after{
    padding: 4px 8px;
    position: absolute;
    top: 100%;
    left:-30px;
    white-space: nowrap;
    z-index: 50;
    border-radius: 5px;
    font-size:8px;
    color:darkslategrey;
}
.heart[title]:hover:after{
    content: 'Ajouter à mes recettes preferées';
}
.thList[title]:hover:after{
    content: 'Ajouter à liste planning';
}

.recipeWithDescrip .heart[title]:hover:after,
.recipeWithDescrip .thList[title]:hover:after{
    color:white;
    left:-60px;
}
