
<article id="filterRecipe" scroll ng-class="{navRecipeFixed:boolNavFixed}">

    <div  class="panel panel-default" style=" overflow: hidden;" >

        <div class="panel-heading">
            <h3 class="panel-title">Ma Selection</h3>
        </div>



        <div class="panel-body main-panel">

            <div>Contient : viande</div>
            <div>Contient : curry</div>
            <br>
            <div>Categorie : four</div>
            <div>Categorie : complet</div>
            <div>Categorie : viande</div>
            <br>
            <div>Origine : thai</div>
            <div>Origine : italien</div>



        </div>
    </div>

    <div  class="panel panel-default" style=" overflow: hidden;" >

        <div class="panel-heading">
            <h3 class="panel-title">Affiner la recherche</h3>
        </div>



        <div class="panel-body main-panel">

            <div> checkbox : mes plats perso</div>
            <div> checkbox : mes recettes preferees</div>
            <div> checkbox : ma selection planning</div>
            <br>
            <div>Contient : (input  : ...) +</div>
            <br>
            <div>Type :</div>
            <div> - Viande +</div>
            <div> - Four +</div>
            <div> - Complet +</div>
            <div> - ... +</div>
            <br>
            <div>Origine :</div>
            <div> - Thai +</div>
            <div> - Italien +</div>
            <div> - Marocain +</div>
            <div> - ... +</div>
        </div>
    </div>
</article>
