
<div class="row" style="color:black">
    <div class="col-md-12">

        <div  class="panel panel-default" >
            <div class="panel-heading">
                <h3 class="panel-title">PLANNING</h3>
            </div>



            <div class="panel-body main-panel">

                <div ng-show="showImprovement" style="font-size: 20px; color:#d9534f">
                    <div>Corriger filtre : remettre filtre_entree-plat-desserts</div>
                    <div>Colorer case planning lors event "onDropOver"</div>
                </div>


                <table class="table table-striped table-hover table-bordered">
                    <th class="info"></th>
                    <th class="info">Lundi</th>
                    <th class="info">Mardi</th>
                    <th class="info">Mercredi</th>
                    <th class="info">Jeudi</th>
                    <th class="info">Vendredi</th>
                    <th class="info">Samedi</th>
                    <th class="info">Dimanche</th>


                    <!--
                         //fourWeekMeals = [aWeekMealLunch, aWeekMealDinner, .., ..]
                         //aWeekMeal = {typeMeal: lunch, show:true, weekMeals:[meal1, meal2, ..., meal7]}
                         //meal = {id: lunch4, nbPers:5 , recipes:[recipe1, recipe2, ...]} //ex lunch of thursday
                         //recipe =  {id:'1',name:'burger',recipeType:'course',nbPerson:4,ingredients:[{qty:400, unit:'g', food:'steak'},{qty:4, unit:'', food:'bread'}],description:'faire des burgers'}
                     -->
                    <tr ng-repeat="aWeekMeal in fourWeekMeals" ng-show="aWeekMeal.show" >

                        <th class="danger" style="height:80px"> {{aWeekMeal.typeMeal}}</th>

                        <td ng-repeat="meal in aWeekMeal.weekMeals"  data-drop="true" ng-model='meal.recipes'  jqyoui-droppable="{multiple:true}"> <!--, onOver:'onOverTab(\'hehehe\')' -->

                            <div ng-show="showNbPers" style="color:green; border:1px solid lightgrey; border-radius:5px; padding:2px;"  data-drop="true" ng-model='meal.nbPers'
                                 jqyoui-droppable="{multiple:true}">
                                <input style="width:35px; border:none; text-align: center; background-color:#f9f9f9" type="number" min="1"  ng-model="meal.nbPers" > pers.
                            </div>


                            <!--ng-repeat="recipe in meal.recipes  | orderByRecipeType" -->
                            <!--track by $index permet d'avoir 2x le mm element dans un drop sans bug -->
                            <div ng-repeat="recipe in meal.recipes track by $index " style="border:1px solid black; border-radius:5px; margin:5px; padding:7px; "
                                 data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="meal.recipes" ng-show="recipe.name"
                                 jqyoui-draggable="{index: {{$index}},placeholder:false}"  >
                                {{recipe.name}}
                            </div>
                        </td>
                    </tr>
                </table>
                <div ng-repeat="recipe in fourWeekMeals[1].weekMeals[0].recipes">

                    {{recipe.name}}
                </div>


                <div class="row" style="color:black" >

                    <div class="col-md-7">
                        <div>


                            <!--
                            AWSOME CHECKBOX : https://github.com/flatlogic/awesome-bootstrap-checkbox
                            -->

                            <span class="checkbox checkbox-info checkbox-inline" ng-repeat="aWeekMeal in fourWeekMeals">
                                <input type="checkbox"  ng-model="aWeekMeal.show" id="{{aWeekMeal.id}}">
                                <label for="{{aWeekMeal.id}}" >
                                    Show {{aWeekMeal.typeMeal}} &nbsp&nbsp
                                </label>
                            </span>


                        </div>

                        <div>
                            Global Number of Persons : <input type="number" ng-model="globalNbPers" ng-change="spreadGlobalNbPers(globalNbPers)" min="1" style="width:40px">
                        </div>

                        <div>
                            <!--<input type="checkbox" ng-model="showNbPers" >Show NbPers &nbsp-->
                             <span class="checkbox checkbox-success checkbox-inline" >
                                 <input type="checkbox"  ng-model="showNbPers" id="idShowPers">
                                 <label for="idShowPers" >
                                     Show nbPers. &nbsp
                                 </label>
                             </span>


                                    <span ng-show="showNbPers">
                                        - &nbsp
                                        Modify nbPers : <input style="width:40px" type="number" min="1" ng-model="nbPers">
                                        ->
                                        Drag this into on 'pers.':
                                        <span style="border:1px solid black; border-radius:5px; padding:7px;"
                                              data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone'}" ng-model="nbPers"
                                              jqyoui-draggable="{placeholder:'keep'}">
                                            {{nbPers}}
                                        </span>
                                    </span>
                        </div>


                    </div>


                    <div class="col-md-3">

                        <span class="checkbox checkbox-success checkbox-inline" >
                                 <input type="checkbox"  ng-model="dataDropTrash" id="dataDropTrashId">
                                 <label for="dataDropTrashId" >
                                     Trash Droppable ?
                                 </label>
                        </span>

                       droppable ? : {{dataDropTrash}}
                    </div>
                    <div class="col-md-2">
                        <div id="trashPlanning" class="glyphicon glyphicon-trash" style="font-size: 50px; color:green"
                             data-drop="{{dataDropTrash}}" ng-model='trash'  jqyoui-droppable="{multiple:true, onOver:'onOverTrash()', onOut:'onOutTrash()', onDrop:'onOutTrash()'}"  > <!-- , onOver:'onOverTrash()', onOut:'onOutTrash()' }" -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>